.breadcrumb {
  list-style: none;
  display: flex;
  flex-wrap: wrap; /* Permet le retour à ligne */
  align-items: center; /* Alignement vertical */
  gap: 0.25rem 0; /* Espacement entre les lignes et éléments */
}

.breadcrumb li {
  display: flex;
  align-items: center;
  flex-wrap: nowrap; /* Empêche le texte de se couper */
}

/* Supprime le pseudo-élément after */
.breadcrumb li::after {
  content: none;
}

.breadcrumb li a {
  text-decoration: underline;
  color: black;
  display: inline-block;
}

.breadcrumb li a:hover {
  color: #2c5ab0;
}
