.carousel-img {
  width: 100%;
  height: 80vh; /* Taille fixe pour la hauteur */
  object-fit: cover; /* Assure que l'image garde ses proportions tout en remplissant l'espace */
  background-color: #f0f0f0;
}

.typing-text {
  border-right: 0.15em solid white;
  animation: blink-caret 0.7s step-end infinite;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
